{% extends 'addr/base.html' %}

{% block content %}
    <div class="post">
         {% if name.created_date %}
            <div class="date">
                {{ name.created_date }}
            </div>
        <!--<a class="btn btn-default" href="{% url 'addr:name_publish' pk=name.pk %}">Publish</a>-->
        {% endif %}
        <a class="btn btn-default" href="{% url 'addr:name_remove' pk=name.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        <a class="btn btn-default" href="{% url 'addr:name_edit' pk=name.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

        <h1>{{ name.name }}</h1>

        <p1>전화1:{{ name.phone1  }}</p1>
        <br>
        <p1>전화2:{{ name.phone2 }}</p1>
        <br>
        <p1>@메일:{{ name.email }}</p1>
    </div>
{% endblock %}
